:root {
    --bgcolor: #060a1c;
    --bgcolortransparent: #060a1cef;
    --maincolor: #bababa;
    --accentcolor: #8c4040;
}
/* * {
    
} */

body {
    position: relative;
    background-color: var(--bgcolor);
    color: var(--maincolor);
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-weight: 200;
}

header {
    transition: all .5s;
    position: fixed;
    display: flex;
    top: 0px;
    /* position: fixed;          */
    width: 100%;
    height: 60px;
    background-color: var(--bgcolortransparent);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 0 5px 5px var(--bgcolortransparent);
    z-index: 1;
}

header div {
    /* position: fixed; */
    padding: 10px;

    /* width: 40%; */
    white-space: nowrap;
    /* background-color: #111111; */
    font-size: 20px;
}

span {
    color: #8c4040;
    
}

nav {
    position: absolute;
    padding: 20px;
    font-family: "Courier" ;
    /* text-align: right; */
    right: 0;
    /* background-color: #111111; */
    /* width: 100vw; */
    /* font-weight: 200; */
}
aside {
    transition: all 0.5s;
    position: fixed;
    top: 45vh;
    display: flex;
    flex-direction: column;
    
}

aside section{
    display: flex;
    flex-direction: column;
    
    font-size: 25px;
    
    margin-left: 16px;
    /* background-color: #999999; */
    border-style: solid;
    border-width: 1px ;
    border-color: var(--accentcolor);
    border-radius: 6px;
}
aside i {
    padding: 4px;
}

.v-stripe {
    position: relative;
    border-width: 0 1px 0 0;
    width: 0px;
    height: 1000px;
    left: 34%;
   
}

main {
    position: absolute;
   
    /* background-color: #44444444; */
    width: 90%;
    margin-top: 100px;
    margin-left: 100px;
    height: 200vh;
}

main img {
    margin-left: 200px;
    width: 500px;
    border-style: solid;
    /* border-width: 10px; */
    border-color: var(--bgcolor);
    border-radius: 3px;
    box-shadow: 11px 7px 0 var(--bgcolor), 12px 8px var(--accentcolor) ;
}
main p {
    margin-left: 180px;
    width: 540px;
}

h1 {
    margin-left: 160px;
    font-weight: 200;
}

