:root {
    --bgcolor: #060a1c;
    --bgcolortransparent: #060a1cdd;
    --maincolor: #bababa;
    --accentcolor: #8c4040;
    --shadowcolor: #03050c;
}

body {
    margin: 0;
    position: relative;
    background-color: var(--bgcolor);
    color: var(--maincolor);
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-weight: 200;
    height: 100%;  
}

header {
    transition: all .5s;
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: var(--bgcolortransparent);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: var(--accentcolor);
    box-shadow:  10px 10px 10px var(--shadowcolor);
    z-index: 10;
}

header div {
    padding: 10px;
    white-space: nowrap;
    font-size: 20px;
}

span {
    color: var(--accentcolor);  
}

nav {
    position: absolute;
    padding: 20px;
    right: 0;
}
nav a {
    margin-right: 10px;
    
}

a {
    transition: all 0.2s;
    text-decoration: none;
    color: inherit;
}
a:hover {
    transition: all 0.5s;
    color: var(--accentcolor);
}

main a {
    transition: all .1s;
    background-color: var(--bgcolortransparent);
    border: 1px solid var(--accentcolor);
    border-radius: 5px;
    color: var(--accentcolor);
    padding: 10px;
    margin-left: 30px;
    box-shadow:  2px 2px 8px var(--shadowcolor);
    font-size: 80%;
    font-weight: 200;
}
main a:hover {
    transition: all .5s;
    color: var(--maincolor);
}

#left, #right {
    transition: all 0.5s;
    position: fixed;
    top: 45vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
    
}

#left {
    left: 0; 
}

#right { 
    top: 0;
    right: 20px;
}

#left section{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin-left: 16px;
    border-style: solid;
    border-width: 1px ;
    border-color: var(--accentcolor);
    border-radius: 6px;
    box-shadow:  10px 10px 10px var(--shadowcolor);
}
aside a {
    padding: 4px;
}


#v-stripe {
    position: relative;
    display: block;
    width: 2px;
    height: calc(66vh);
    left: 32px;
    bottom: 0;
    z-index: 100;
    border-style: solid;
    border-width: 0 0 2px 2px;
    border-color: var(--accentcolor);
    border-radius: 0 6px 6px 6px;   
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 100px; 
    margin-top: 100px;
}

.img-frame {
    width: 560px;
    border-style: solid;
    border-color: var(--bgcolor);
    border-radius: 0 0 3px 0;
    box-shadow: 11px 7px 0 var(--bgcolor), 12px 8px var(--accentcolor), 16px 16px 10px var(--shadowcolor) ;
}

main img {
    margin-left: 50px;
    width: 500px;
}
main p {
    margin-left: 20px;
    width: 540px;
}
main button {
    position: relative;
    left: 200px;
    margin-left: 20px;
}

h1 {
    margin: 10px;
    font-size: 60px;
    font-weight: 300;

}

#intro span {
    position: relative;
    top: -50px;
    left: 50px;
    font-size: 70%;
    white-space: nowrap;
    
}

#intro p {
    position: relative;
    top: -50px;
    left: 60px;
}


h2 {
    margin-left: 160px;
    font-weight: 200;
}

#intro {
    padding: 25vh 0 0vh 0;
}

#about {
    transition: all 2s;
    padding: 40vh 0 0vh 0;
}
#projects {
    transition: all 2s;
    padding: 35vh 0 0vh 0;
}

#intro-indicator {
    text-align: right;
    margin-right: 10px;
    margin-top: 50vh;
    transition: all 0.5s;
}
#about-indicator {
    margin-right: 10px;
    text-align: right;
    margin-top: 60vh;
    transition: all 0.5s;
}

#projects-indicator {
    margin-top: 60vh;
}


.project {
    position: relative;
    margin-bottom: 100px;
}
.project img {
    transition: all 0.3s;
    filter: grayscale(.96);
}
.project img:hover {
    transition: all 1s;
    filter: grayscale(0);
}

.project div a {
    font-size: 80%;
}

#bottom {
    position: relative;
    background-color: var(--bgcolor);
    bottom: 0;
    z-index: 100;
    height: 40px;
    margin-left: 32px;
}
#h-stripe {
    border-style: solid;
    border-width: 0 0 2px 2px;
    border-color: var(--accentcolor);
    border-radius: 0 6px 6px 6px;
    height: 10px;
}

